@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  box-sizing: border-box;
}

body {
  --color1: #e4572e;
  --color2: #17bebb;
  --color3: #ffc914;
  --color4: #2e282a;
  --color5: #76b041;
  --color6: #1dc9c6;
  background-color: var(--color5);
  color: var(--color4);
  cursor: default;
  display: flex;
  font-family: 'Oswald', sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}
